<h1>This is where I'll put stuff I'm making for this app.</h1>
<p><%= link_to "My 'MyBuddyKeith' API", "https://keithapi.herokuapp.com/" %> <em>light language warning</em></p>
<p><%= link_to "My Vine Quotes API", "https://vineapi.herokuapp.com/" %></p>